input[type='radio'] {
    display: none;

    &:checked + label {
        background-color: darken( #fafafa, 15%);
    }

    & + label {
        float: none;
        display: inline-block;
        font-family: inherit;
        font-size: 16px;
        line-height: 19px;
        background-color: #fafafa;
        padding: 15px 25px;
        text-align: center;
        vertical-align: middle;
        text-transform: capitalize;
        border: 1px solid rgb(238, 238, 238);
        margin-top: 10px;

        @include border-radius(3px);

        @include user-select(none);

        @include transition-property(all);

        @include transition-duration(0.2s);

        @include transition-timing-function(linear);

        @include box-sizing(border-box);

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
            border-left-width: 1px !important;
            border-color: darken(#fafafa, 15%);
        }
    }
}
