.contact-us {
    background-color: #fff;
    color: #656565;

    .row:first-child {
        padding-top: 70px;
    }

    .row:last-child {
        padding-bottom: 50px;
    }

    .video-wrapper {
        margin-top: 70px;

        .over-video-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
        }

        .video-about-us {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            margin-bottom: 30px;
            background-color: #656565;

            iframe,
            object,
            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }

    .contacts-form {
        margin-top: 70px;
        text-align: center;

        div .form-group:first-of-type {
            margin-top: 0;
        }

        div .form-group:nth-of-type(n+2) {
            margin-top: 30px !important;
        }



        .form-group {
            position: relative;
            font-size: 0;
            margin-bottom: 0 !important;

            .no-valid-regexp {
                background-color: lighten($errorInputValidColor, 15%) !important;
                border-color: $errorInputValidColor !important;
                color: darken($errorInputValidColor, 15%);
            }

            .no-valid-required {
                border-color: $errorInputValidColor;
                color: lighten($errorInputValidColor, 15%);
            }

            .no-valid-radio {
                border-color: $errorInputValidColor !important;
            }

            .error-regexp,
            .error-required {
                position: absolute;
                bottom: -18px;
                left: 0;
                display: none;
                color: #ffffff;
                font-size: 12px;
                line-height: 16px;
                background-color: $errorInputValidColor;
                border: 1px solid $errorInputValidColor;
                padding: 0 5px;

                @include border-radius(3px);

                @include box-sizing(border-box);

                @include transition-property(all);

                @include transition-duration(0.2s);

                @include transition-timing-function(linear);
            }

            .show-error {
                display: inline-block;
            }

            input[type='radio'] + label {
                @include border-right-radius(0);
            }

            input[type='radio']:nth-of-type(n+2) + label {
                border-left-color: transparent;

                @include border-left-radius(0);
                @include border-right-radius(0);
            }

            input[type='radio']:last-of-type + label {
                @include border-right-radius(3px);
            }

            .name-wrapper,
            .email-wrapper,
            .phone-wrapper {
                position: relative;

                &:after {
                    position: absolute;
                    top: calc(50% + 5px);
                    left: 25px;
                    font-family: 'fontello';
                    font-size: 24px;
                    line-height: 1;
                    opacity: .75;
                    color: lighten($fontColorGrey, 15%);

                    @include transform(translate(-50%, -50%));
                }
            }

                .name-wrapper:after {
                    content: '\E80F';
                }

                .email-wrapper:after {
                    content: '\E810';
                }

                .phone-wrapper:after {
                    content: '\E811';
                }

            input[type='text'], 
            input[type='email'],
            input[type='tel'] {
                padding-left: 50px;
            }
        }

        .contact-us-label {
            width: 100%;
            text-align: left;
            font-size: 14px;
            background-color: transparent;
        }

        .button {
            width: 100%;
            margin-top: 35px;
        }

        .response-success-message {
            display: block;
            position: absolute;
            top: 105%;
            right: 0;
            bottom: -5%;
            left: 0;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            border: 0 solid lighten($fontColorGrey, 15%);
            background-color: rgba(255, 255, 255, 1);
            overflow: hidden;
            border-radius: 10px;

            @include box-sizing(border-box);

            @include transition-property(top, border);

            @include transition-duration(0.5s, 0s);

            @include transition-delay(0s, 0.5s);

            @include transition-timing-function(linear);

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 30px;
                line-height: 1.3;
                font-weight: bold;
                color: lighten($fontColorGrey, 15%);

                @include transform(translate(-50%, -50%));
            }
        }

        .response-success-message-show {
            top: 0;
            border-width: 2px;

            @include transition-property(top, border);

            @include transition-duration(0.5s, 0s);

            @include transition-delay(0s, 0s);

            @include transition-timing-function(linear);
        }
    }

    @include breakpoint(medium) {
        .row:first-child {
            padding-top: 60px;
        }

        .row:last-child {
            padding-bottom: 40px;
        }

        .video-wrapper {
            margin-top: 60px;
        }

        .contacts-form {
            margin-top: 60px;

            div:nth-of-type(n+2) .form-group:first-of-type {
                margin-top: 30px;
            }

            .button {
                margin-top: 35px;
            }
        }
    }


    @include breakpoint(small) {
        .row:first-child {
            padding-top: 50px;
        }

        .row:last-child {
            padding-bottom: 40px;
        }

        .video-wrapper {
            margin-top: 40px;
        }

        .contacts-form {
            margin-top: 0;

            .button {
                margin-top: 35px;
            }
        }
    }


    @include breakpoint(extra-small) {
        .row:first-child {
            padding-top: 40px;
        }

        .row:last-child {
            padding-bottom: 40px;
        }

        .video-wrapper {
            margin-top: 30px;
        }

        .contacts-form {
            margin-top: 0;

            & > div {
                padding-right: 0;
                padding-left: 0;
            }

            div:nth-of-type(n+2) .form-group:first-of-type {
                margin-top: 30px;
            }

            .button {
                margin-top: 35px;
            }
        }
    }
}
