#video-modal {
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        margin: 0;

        @include transform(translate(-50%, -50%));
    }

    .modal-content {
        .modal-body {
            position: relative;
            padding-bottom: 53.5%;
            height: 0;
            overflow: hidden;
            margin-bottom: 0;
            background-color: #656565;

            iframe,
            object,
            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            border: 2px solid #fff;
            border-radius: 50%;
            font-family: 'fontello';
            font-size: 17px;
            color: #fff;
            z-index: 1;
            text-shadow: 0 0 0;
            opacity: 0.7;

            @include transform(translate(120%, -50%));

            &:hover {
                opacity: 1;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

@include breakpoint(ipad-landscape) {
    #video-modal {
        .modal-dialog {
            width: 100%;
        }

        .modal-content {
            .close {
                width: 40px;
                height: 40px;
                font-size: 14px;

                @include transform(translate(-30%, 30%));
            }
        }
    }
}
